<div class="container">
    <div class="bg-banner col-md-12 mb-2">
        <span class="mb-0 bannertext">Android <span class="text-uppercase " style="color:red">News</span> Scraper</span>
    </div>
    <div class="d-flex justify-content-between">
        <a href="/scrape" action="button" class="btn btn-sm  btn-light">Find current News</a>
        <a href="/saved" action="button" class="btn btn-sm btn-light">Saved Article</a>
        <a href="/clear" action="button" class="btn btn-sm btn-light">Clear Article</a>
    </div>

    <div class="article-container">
    {{#each allArticle}}
    <div class="card text-white bg-light mb-2">
        <div class="row m-1">
            <div class="align-self-center col-md-4 col-sm-12">
                <img class="card-img " style="width:100%" src="{{this.image}}" alt="jetsetImg">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card-body ">
                    <h5 class="card-title" style="color:red">{{this.title}}</h5>
                    <p class="card-text overflow-hidden" style="color:black">{{this.summary}}</p>
                </div>
                <div class="text-right">
                    <a href={{this.link}} class="btn btn-light text-primary" role="button">View Full Article</a>
                <a class="btn btn-light text-success save">Save Article</a><br />
                </div>

            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>